<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="app-container">
    <div>
        <app-blog-main-tool-bar></app-blog-main-tool-bar>
    </div>
    <div class="main-page-container">
        <div class="side-nav-container">
            <app-blog-left-side-nav></app-blog-left-side-nav>
        </div>
        <div class="main-content-container">
         <router-outlet style="height:inherit"></router-outlet>
        </div>
    </div>
</div>